.my{
    float:left;
    width: 30%;
    height:30vw;
    margin:1vw;
    background-color:orange;
    border-radius:2vw;
    
    }
.my2{
    width: 30%;
    height:30vw;
    margin:1vw;
    background-color:orange;
    border-radius:2vw;
    float:left;
    clear: both;
    }